.place__title-website {
  display: flex;
  align-items: end;
  column-gap: 40px;
}

@media screen and (max-width: 1279px) {
  .place__title-website {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title-website {
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__title-website {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
    margin: 0 auto 32px;
    max-width: 288px;
  }
}
