.photo-grid_place {
  margin: 92px auto;
}

@media screen and (max-width: 1023px) {
  .photo-grid_place {
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid_place {
    margin-top: 64px;
    margin-bottom: 64px;

  }
}
